*{
      margin: 0px;
      padding: 0px;
      font-family: "poppins",sans-serif;
      box-sizing: border-box;
}
body{
         background: #002339;
                    
}
.container{
       margin: 8px;
       padding: 90px;
       max-width: 700px;             
}
.display{
      width: 400px;
      margin-top:30px;
      margin-left: 20px;
      margin-right: 1000px;
      background: #fff;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      padding: 26px 20px;
}
.display img{
    width: 30px;
    cursor: pointer;                
}
.display input{
     border: 0px;
     outline: 0px;
     font-size: 20px;               
}
.container h1{
    font-weight: 500px;
    font-size: 50px;                
}
.container h1 span{
          color: #019f55;
          border-bottom: 4px solid #019f55;
          padding-bottom: 7px;          
}
.container img{
         width: 29px;
         margin-right: 10px;    
}
.container button{
   
                    border: 0px;
                    outline: 0px;
                    font-size: 15px;
                    font-weight:300 ;
                    background:#019f55;
                    color:#fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 16px 26px;
                    border-radius: 5px;
                    margin-left: 70px;
                    margin-top: 20px;
                    font-style: italic;
                      
}